In [2]:
import json 
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 

%load_ext autoreload 
%autoreload 2

In [9]:


def load_results(path:str='../results/dataset_train-mlp_x10_0.results.json'):
    with open(path, 'r') as f:
        results = json.load(f)

    ids = results['ids'].copy()
    del results['ids']

    results_df = list()
    for model_id, results_ in results.items():
        df = pd.DataFrame(results_).assign(model_id=model_id)
        df['id'] = ids
        results_df.append(df)
    results_df = pd.concat(results_df)
    return results_df

load_results()

,outputs,index,roc_auc_1,roc_auc_0,pr_auc_1,pr_auc_0,labels,model_id,id
0,0.999992,500741,0.999205,0.999205,0.999919,0.988727,1.0,mlp_0,500741
1,0.999999,88113,0.999205,0.999205,0.999919,0.988727,1.0,mlp_0,88113
2,0.999999,425967,0.999205,0.999205,0.999919,0.988727,1.0,mlp_0,425967
3,0.999969,29146,0.999205,0.999205,0.999919,0.988727,1.0,mlp_0,29146
4,0.999548,487002,0.999205,0.999205,0.999919,0.988727,1.0,mlp_0,487002
...,...,...,...,...,...,...,...,...,...
109721,0.740299,89230,0.998661,0.998661,0.999911,0.978421,1.0,mlp_9,89230
109722,0.745742,668818,0.998661,0.998661,0.999911,0.978421,1.0,mlp_9,668818
109723,0.748580,665488,0.998661,0.998661,0.999911,0.978421,1.0,mlp_9,665488
109724,0.774886,91775,0.998661,0.998661,0.999911,0.978421,1.0,mlp_9,91775
109725,0.744610,610206,0.998661,0.998661,0.999911,0.978421,1.0,mlp_9,610206

In [6]:
len(results_test)

10

In [ ]:
res