In [2]:
import json 
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 

%load_ext autoreload 
%autoreload 2

In [7]:


def load_results(path:str='../results/dataset_test-mlp_x10_0.results.json'):
    with open(path, 'r') as f:
        results = json.load(f)

    results_df = list()
    for model_id, results_ in results.items():
        results_df.append(pd.DataFrame(results_).assign(model_id=model_id))
    results_df = pd.concat(results_df)
    return results_df

load_results()

,outputs,index,roc_auc_1,roc_auc_0,pr_auc_1,pr_auc_0,labels,model_id
0,0.986221,540802,0.999199,0.999199,0.999947,0.987392,1.0,mlp_0
1,0.999982,226495,0.999199,0.999199,0.999947,0.987392,1.0,mlp_0
2,0.999967,571885,0.999199,0.999199,0.999947,0.987392,1.0,mlp_0
3,0.999979,307880,0.999199,0.999199,0.999947,0.987392,1.0,mlp_0
4,0.999951,258471,0.999199,0.999199,0.999947,0.987392,1.0,mlp_0
...,...,...,...,...,...,...,...,...
27729,0.695612,526708,0.998747,0.998747,0.999918,0.980220,1.0,mlp_9
27730,0.774393,772837,0.998747,0.998747,0.999918,0.980220,1.0,mlp_9
27731,0.755614,429445,0.998747,0.998747,0.999918,0.980220,1.0,mlp_9
27732,0.758184,416178,0.998747,0.998747,0.999918,0.980220,1.0,mlp_9
27733,0.783184,448677,0.998747,0.998747,0.999918,0.980220,1.0,mlp_9

In [6]:
len(results_test)

10